# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
pyopml==1.0.0
feedparser==6.0.11
azure-communication-email==1.0.0